<!-- <div class="product-main">
    <div class="product-view-list">
        <i class="fas fa-th-list"></i>
    </div>
    <div class="product-view">
        <i class="fas fa-store"></i>
        <i class="fas fa-qrcode"></i>
        <i class="fas fa-shopping-cart"></i>
    </div>
</div> -->
<div class="body-app">
</div>
<div class="mr-t mr-l mr-r mr-b">
    <div class="group-offer">
        <button type="button"><a href="group-offer"> Group List</a></button>
        <button type="button" ><a href="create-group"> New Group</a></button>
    </div>
</div>

<div class="mr-t mr-l mr-r mr-b">
    <div class="group-offer-list" *ngFor="let item of items">
            <input type="text"> <i class="fas fa-pencil-alt"></i> <button type="button">Choose</button>
    </div>
</div>

<div class="footer">
    <i class="fas fa-home"></i>
    <i class="fas fa-search"></i>
    <i class="fas fa-search"></i>
    <i class="fas fa-search"></i>
    <i class="fas fa-search"></i>
</div>