<div class="body-app">
</div>
<app-category-nav-bar></app-category-nav-bar>
<div class="mr-l mr-t mr-r mr-b">
    <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let image of bimages;let i= index">
            <img class="slide-image-prd" src="https://github.com/jogidharmesh/new180720/blob/master/src/assets/g.jpeg?raw=true">
            <!-- <div class="slide-text">
                <h4>{{image.text}}</h4>
            </div> -->
        </div>
    </owl-carousel>
</div>

<div class="new-card-hr-hd">
    <h2>Best Seller</h2>
    <button routerLink="/product-view-all" class="button">View ALL</button>
</div>

<div class="new-card-box">
    <div class="new-card" *ngFor="let image of images;let i=index">
        <div class="new-card-hr">
            <span class="offer"> Buy One <b>Get</b> Two </span>
        </div>
        <div class="img-card">
            <img src="https://github.com/jogidharmesh/new180720/blob/master/src/assets/g.jpeg?raw=true">
            <span class="centered">Out of Stocks</span>
        </div>
        <h4>{{image.text}}</h4>
        <div class="new-card-hr">
            <span class="strikethrough">M.R.P ₹ 450</span> <span>M.R.P ₹ 400</span>
        </div>
        <div class="new-card-hr-btm">
            <i class="fas fa-heart"></i>
            <button type="button" class="button" disabled>Add</button>
        </div>
    </div>
</div>



<div class="new-card-hr-hd mr-l mr-t mr-r">
    <h2>Recommended</h2>
    <button routerLink="/product-view-all" class="button">View ALL</button>
</div>

<div class="mr-l mr-r">
    <owl-carousel [options]="carouselOptionsRecommed" [items]="images"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="new-card" *ngFor="let image of images;let i=index">
            <div class="new-card-hr">
                <span class="dis_section"> <span> 16<span class="per_txt">%</span></span> <br> off </span>
            </div>
            <div class="img-card">
                <img src="https://github.com/jogidharmesh/new180720/blob/master/src/assets/g.jpeg?raw=true">
                  <span class="centered">Out of Stocks</span>
            </div>
            <h4>{{image.text}}</h4>
            <div class="new-card-hr">
                <span class="strikethrough">M.R.P ₹ 450</span> <span>M.R.P ₹ 400</span>
            </div>
            <div class="new-card-hr-btm">
                <i class="fas fa-heart"></i>
                <button type="button" class="button">Add</button>
            </div>
        </div>
    </owl-carousel>
</div>

<div class="new-card-hr-hd">
    <h2>Best Seller</h2>
    <button routerLink="/product-view-all" class="button">View ALL</button>
</div>

<div class="new-card-box">
    <div class="new-card" *ngFor="let image of images;let i=index">
        <div class="new-card-hr">
            <span class="offer"> Up To <b>50%</b> OFF </span>
        </div>
        <div class="img-card">
            <img src="https://github.com/jogidharmesh/new180720/blob/master/src/assets/g.jpeg?raw=true">
            <span class="centered">Out of Stocks</span>
        </div>
        <h4>{{image.text}}</h4>
        <div class="new-card-hr">
            <span class="strikethrough">M.R.P ₹ 450</span> <span>M.R.P ₹ 400</span>
        </div>
        <div class="new-card-hr-btm">
            <i class="fas fa-heart"></i>
            <button type="button" class="button">Add</button>
        </div>
     
    </div>
</div>
<app-app-footer></app-app-footer>