
<div class="body-app">
</div>
<div class="redeem-sucees">
    <label>Your redeem of gift has succesfully applied</label>
</div>

<div class="redeems-options mr-t">
    <h2>Choose Redeem Options</h2>

    <div class="redeem-box mr-t">
        <label>You have 530 Membrship points.On sucessfully placing order your pint will be added up</label>
        <div class="button-redeem mr-t">
            <input>
            <button class="redeem-button mr-l" type="button">Apply</button>
        </div>
        <div class="button-redeem mr-t">
            <button class="redeem-button mr-l" type="button">OK</button>
            <button class="redeem-button mr-l" type="button">Cancel</button>
        </div>
    </div>

    <div class="redeem-box mr-t">
        <label>You have 530 Membrship points.On sucessfully placing order your pint will be added up</label>
        <div class="button-redeem mr-t">
            <input>
            <button class="redeem-button mr-l" type="button">Apply</button>
        </div>
        <div class="button-redeem mr-t">
            <button class="redeem-button mr-l" type="button">OK</button>
            <button class="redeem-button mr-l" type="button">Cancel</button>
        </div>
    </div>

    <div class="redeem-box">
        <label>Pelase enter gift card number to avail</label>
        <div class="button-redeem mr-t">
            <input>
            <button class="redeem-button mr-l" type="button">Apply</button>
        </div>
        <div class="button-redeem mr-t">
            <button class="redeem-button mr-l" type="button">OK</button>
            <button class="redeem-button mr-l" type="button">Cancel</button>
        </div>
    </div>

    <div class="redeem-box">
        <label>Pelase enter gift card number to avail</label>
        <div class="button-redeem mr-t">
            <input>
            <button class="redeem-button mr-l" type="button">Apply</button>
        </div>
        <div class="button-redeem mr-t">
            <button class="redeem-button mr-l" type="button">OK</button>
            <button class="redeem-button mr-l" type="button">Cancel</button>
        </div>
    </div>

    <div class="redeem-box">
        <label>You have 200 Rs Credit.How much you want utilize</label>
        <div class="button-redeem mr-t">
            <input>
            <button class="redeem-button mr-l" type="button">Apply</button>
        </div>
        <div class="button-redeem mr-t">
            <button class="redeem-button mr-l" type="button">OK</button>
            <button class="redeem-button mr-l" type="button">Cancel</button>
        </div>
    </div>

    <div class="redeem-box">
        <label>You have 200 Rs Credit.How much you want utilize</label>
        <div class="button-redeem mr-t">
            <input>
            <button class="redeem-button mr-l" type="button">Apply</button>
        </div>
        <div class="button-redeem mr-t">
            <button class="redeem-button mr-l" type="button">OK</button>
            <button class="redeem-button mr-l" type="button">Cancel</button>
        </div>
    </div>