<div class="body-app">
</div>

<div class="mr-l mr-r mr-t">
    <div class="store-header gap">
        <h3>Select Your Nearest Store</h3>
    </div>
   
<div class="row">
  <div class="col-md-8 offset-md-4 mt-3 pt-3 bg-warning border round">
    <p>Currentaly we are not able to connect this store due to network issue with store server . You may please try after a while!! </p>
  </div>
</div>
    <div class="gl-btn">
        <h2>Store List</h2>
        <a href="/store-locator">Store Locatore</a>
      </div>
   <div class="store">
       <div class="store-name" *ngFor="let image of images"> 
           <div class="store-info">
               <div class="store-img">
                   <img src="{{image.image}}" class="image-scale">
                </div>
                <div class="store-add">
                    <h4>{{image.name}}</h4>
                    <label>{{image.text}}</label>
                </div>
            </div>
            
            <div class="store-nav">
                <span>11AM to 8PM</span>
                <span><i class="fas fa-location-arrow"></i></span> <span>11.4KM</span>
                <span><i class="fas fa-directions"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a href="store-locator"><i class="fas fa-map">Map View</i></a>
    <a href="store-locator"><i class="fas fa-refresh"> Refresh</i></a>
</div>