<div class="review-rat">

    
    <h4 mat-dialog-title>Reeview & rating</h4>
    <div mat-dialog-content>
        <h4>Please rate product</h4>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>
        <h4>Please review product</h4>
        <textarea type="text"></textarea>
        <!-- <button type="submit">Submit</button> -->
    </div>
    <div mat-dialog-actions class="d-flex justigy-content-center">
        <button mat-button mat-dialog-close >Close</button>
        <button mat-button mat-dialog-close >Submit</button>
    </div>
</div>