<div class="body-app">
</div>
<div formGroupName="address" class="delivery mr-l mr-t mr-r mr-b">
    <label>
        Full Name:
    </label>
    <input type="text" formControlName="fullname">
    <label>
        Mobile No:
    </label>
    <input type="text" formControlName="mobile">
    <label>
        Email:
    </label>
   
    <input type="text" formControlName="city">
    <label>
        Subject:
    </label>
    
    <input type="text" formControlName="zip">
    <label>
        Feed back Message:
    </label>
    <input type="text" class="fulltext" formControlName="address">
    <button class="feeback-button" type="button">Submit</button>
</div>