
<div class="body-app">
</div>
<div *ngIf="!noadd" formGroupName="address" class="delivery mr-l mr-t mr-r mr-b">
    <h3>Enter Your Delivery Adreess</h3>
    <label>
        Mobile No:
    </label>
    <input class="input-field-del" type="text" formControlName="mobile">
    <label>
        Full Name:
    </label>
    <input class="input-field-del" type="text" formControlName="fullname">
    <label>
        Street:
    </label>
    <input class="input-field-del" type="text" formControlName="street">
    <label>
        City:
    </label>
    <input class="input-field-del" type="text" formControlName="city">
    <label>
        State:
    </label>
    <input class="input-field-del" type="text" formControlName="state">
    <label>
        Zip Code:
    </label>
    <input class="input-field-del" type="text" formControlName="zip">
    <label>
        Full Adrees:
    </label>
    <input  type="text" class="fulltext" formControlName="address">
    <button class="button" type="button" (click)='noadd=false'>Save and proceed</button>
</div>


<div class="delivery-address mr-l mr-t mr-r mr-b">
    <h3>Select Delivery Address</h3>
    <p> SCO 201, Sector 14, BEL Colony, Budanpur, Panchkula, Haryana 134109</p>

    <div class=delivery-bottom>
        <button class="button" ><a href="/delivery-address"> Delivery Here</a></button>
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-alt"></i>
    </div>
</div>
<app-app-footer></app-app-footer>