<nav>
<ul>
    <li>
        <a href="#">Vegetables&#9662;</a>
        <ul class="dropdown">
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Monitors</a></li>
            <li><a href="#">Printers</a></li>
        </ul></li>
    <li>
        <a href="#">Grocery &#9662;</a>
        <ul class="dropdown">
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Monitors</a></li>
            <li><a href="#">Printers</a></li>
        </ul></li>
    <li>
        <a href="#">Clothes &#9662;</a>
        <ul class="dropdown">
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Monitors</a></li>
            <li><a href="#">Printers</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Electronics &#9662;</a>
        <ul class="dropdown">
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Monitors</a></li>
            <li><a href="#">Printers</a></li>
        </ul>
    </li>
</ul>
</nav>