<div class="body-app">
</div>
<app-category-nav-bar></app-category-nav-bar>

<div class="new-card-box">
	<div class="new-card" *ngFor="let image of images;let i=index">
		<div class="img-section">
			<!-- <div class="new-card-hr">
				<span class="offer"> Up To <b>50%</b> OFF </span>
			</div> -->
			<div class="img-card">
				<img src="https://github.com/jogidharmesh/new180720/blob/master/src/assets/g.jpeg?raw=true" class="image-scale">
				<!-- <span class="centered">Out of Stocks</span> -->
			</div>
		</div>
		<div class="product-deails-list">
			<h4>{{image.text}}</h4>
			<!-- <div class="new-card-hr"> -->
				<div class="product-dt">
					<h4>Size </h4> <label> 375Gm</label>
					<h4>Color </h4> <label> Pink</label>
				</div>
				<div class="product-dt">
					<h4>Quntity </h4> <label> 10</label>
					<h4>Brand </h4> <label> Patnjali</label>
				</div>
			<!-- </div> -->
		</div>
		<div class="new-card-hr-list">
		<h4>Total Amount</h4>
		<label>170</label>
		</div>
	</div>
</div>

<app-app-footer></app-app-footer>