.cancel-order-main {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
  box-sizing: border-box;
}

.order-box {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    /* font-size: 14px; */
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

.order-img {
    width: 10%;
}
.order-details {
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 1.5em;
    font-size: 16px;
    box-sizing: border-box;
}
.order-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-image{
    width: 100px;
    height: 100px;
    margin:auto;
}
.order-btn button{
    padding: 0.8em 2em;
    background-color: var(--BTN-BG-COLOR);
    color: var(--BTN-FONT-COLOR);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
}

.order-btn{
    display: flex;
    flex-direction: column;
    width: 20%;
}


.order-hr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 5px 10px 5px 10px;
    margin: auto;
    box-sizing: border-box;
}

.cancel{
    background-color: red;
}

.red{
    color: red;
}
.green{
    color: green;
}

@media screen and (max-width: 450px) {
    .order-box {
        display: flex;
        flex-direction: row;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        width: 95%;
        height: 150px;
        box-sizing: border-box;
    }

    .cancel-order-main {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        align-items: center;
        /* width: 100%; */
    }

    

    .order-details{
        margin: auto;
        line-height: 1.5em;

    }

    .order-box{
        margin: 5px auto 5px auto;
    }
    
    .order-hr{
        display: flex;
        flex-direction: row;
    }

    .order-btn button{
    padding: 0.5em 0.8em;
    background-color: var(--BTN-BG-COLOR);
    color: var(--BTN-FONT-COLOR);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    }

    .order-hr{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: auto;
    box-sizing: border-box;
    }
    
    .order-img{
      width: 25%;
    }
    .order-details{
      width: 55%
    }
    .order-btn{
      width: 15%
    }
}
