<div class="body-app">
</div>
    <ul>
      <li><a routerLink="/store-locator" routerLinkActive="active">Store Locator</a></li>
      <li><a routerLink="/store-list">Store list</a></li>
      <li><a routerLink="/product-view">Product view</a></li>

      <li><a routerLink="/group-offer"> Group offer</a></li>
      <li><a routerLink="/create-group">Create Group</a></li>
      <li><a routerLink="/product-details">Product Details</a></li>

      <li><a routerLink="/product-view-all">Producy ALL</a></li>
      <li><a routerLink="/global-category">Global category</a></li>
      <li><a routerLink="/product-cart">Product cart</a></li>

      <li><a routerLink="/delivery-address">Delivery Screen</a></li>
      <li><a routerLink="/feedback">Feedaback Forms</a></li>
      <li><a routerLink="/user-profile">User profile</a></li>

      <li><a routerLink="/redeem-options">Redeems Options</a></li>
      <li><a routerLink="/qr-display">Qr Display</a></li>
      <li><a routerLink="/cancel-order">Order Cancel</a></li>
      <li><a routerLink="/login">login</a></li>

    </ul>