<div class="product-main">
    <div class="product-view-list">
        <img class="" src="../../assets/brand.jpg">
        <h3 class="brand-name">Brand Name</h3>
    </div>
    <div class="product-view">
      <img src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/online-store.png?raw=true">
      <img src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/qr-code.png?raw=true">
      <img src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/shopping-cart.png?raw=true">
     <span class="cartvalue">12</span>
    </div>
</div>

