.cartvalue{
      position: relative;
    top: -15px;
    right: 18px;
}

.brand-name{
    color: var(--SEARCH-FONT-COLOR);
}

@media screen and(max-width:450px){

  .cartvalue {
      position: relative;
    top: -15px;
    right: 18px;
}
}