<div class="product-main">
	<div class="col-md-2">
		<img class="" src="../../assets/brand.jpg">
		<h3 class="d-inline-block brand-name">Brand Name</h3>
	</div>
	<div class="d-flex justify-content-end col-md-10">
		<img class="ml-2" src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/online-store.png?raw=true">
		<img class="hide-mobile ml-2"  src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/home.png?raw=true">
		<img class="hide-mobile ml-2" src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/discount.png?raw=true">
		<img class="ml-2"  src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/registration.png?raw=true">
		<img class="ml-2" src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/qr-code.png?raw=true">
		<img class="hide-mobile ml-2"  src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/shopping-cart.png?raw=true">
		<span class="hide-mobile cartvalue">12</span>
	</div>
</div>