<div class="footer">

  <img src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/home.png?raw=true">
  <img src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/user-groups.png?raw=true">
  <img src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/discount.png?raw=true">
  <img src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/small-icons.png?raw=true">
  <img src="https://github.com/jogidharmesh/new180720-latest/blob/master/src/assets/registration.png?raw=true">


</div>
