
<div class="body-app">
</div>
<div class="order-details">
    <h2>Order Details</h2>
    <div class="order-row">
    <h4> Store Name</h4>
        <label>Haryana Store</label>
    </div>
    <div class="order-row">
        <h4> Order No</h4>
            <label>Haryana Store</label>
    </div>
    <div class="order-row">
        <h4>Order Date</h4>
            <label>Haryana Store</label>
    </div>
    <div class="order-row">
        <h4> Order Amount</h4>
            <label>Haryana Store</label>
    </div>
</div>
<div class="order-details">
    <h2>Delivery  Details</h2>
    <div class="order-row">
    <h4> Mode</h4>
        <label>Store Pickup</label>
    </div>
    <div class="order-row">
        <h4> PickUp Time</h4>
            <label>31/10/2020 06:20 PM</label>
    </div>
</div>

<div class="order-details">
    <h2>Payment Details</h2>
    <div class="order-row">
    <h4> Payment Mode</h4>
        <label>UPI</label>
    </div>
    <div class="order-row">
        <h4> MemberShip No</h4>
            <label>1202</label>
    </div>
    <div class="order-row">
        <h4> Gift Vocher</h4>
            <label>550</label>
    </div>
    <div class="order-row">
        <h4> Credit Note No</h4>
            <label>1202</label>
    </div>
    <div class="order-row">
        <h4> Credit Note Amount</h4>
            <label>1202</label>
    </div>

    <button class="button"><a href="/cancel-order">Back</a></button>
</div>
