<div class="body-app">
</div>
<div class="user-profile">
	<div class="user-header">
		<div class="user-image">
			<label class="hoverable" for="fileInput">
  <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
  <div class="hover-text">Choose file</div>
  <div class="background"></div>
</label>
			<br/>
			<input id="fileInput" type='file' (change)="onSelectFile($event)">
			<button *ngIf="url" (click)="delete()" >delete</button>
		</div>

		<div class="user-details">
			<label>Jitendra Singh</label>
			<label>singh@gmail.com</label>
			<label>9745352643</label>
		</div>
	</div>
	<label>atpal Mohan 105/2A Laxmi Nagar, Gurgaon, 9899317383 Hony Editor of Mohyal Times of Mohyal Education Society
        Regd</label>
	<div>
		<mat-list>
			<mat-list-item> <i class="fas fa-user"></i>Profile </mat-list-item>
			<mat-list-item> <i class="fas fa-sign-out-alt"></i> My Order </mat-list-item>
			<mat-list-item> <i class="fas fa-sign-out-alt"></i>Change Branch </mat-list-item>
			<mat-list-item routerLink="/wish-list"> <i class="fas fa-heart" ></i>My WishList </mat-list-item>
			<mat-list-item> <i class="fas fa-comment-dots"></i> Send feedback </mat-list-item>
			<mat-list-item> <i class="fas fa-sign-out-alt"></i> Log out </mat-list-item>
		</mat-list>
	</div>
</div>